<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarpoolGo | Login/Signup</title>
    {% load static %}  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Carpool/Style.css' %}">
</head>
<body>
    <button class="theme-toggle" onclick="toggleTheme()">
        <i class="fas fa-moon"></i>
    </button>

    <div class="form-container">
        <h2 id="form-title">Login to CarpoolGo</h2>
        
        <!-- Login Form -->

        <form id="login-form" class="active-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="login-form">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button class="btn" type="submit">Login</button>
        </form>

        <form id="signup-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="signup-form">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Create a password" required>
            <button class="btn" type="submit">Sign Up</button>
        </form>
        

        <a href="#" class="toggle-link" id="toggle-link">Don't have an account? Sign up</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script src="{% static 'Carpool/Function.js' %}"></script>
    <script>
        const toggleLink = document.getElementById("toggle-link");
        const loginForm = document.getElementById("login-form");
        const signupForm = document.getElementById("signup-form");
        const formTitle = document.getElementById("form-title");

    toggleLink.addEventListener("click", (e) => {
        e.preventDefault();
        if (loginForm.classList.contains("active-form")) {
            loginForm.classList.remove("active-form");
            signupForm.classList.add("active-form");
            formTitle.textContent = "Create an Account";
            toggleLink.textContent = "Already have an account? Login";
        }
        else {
            signupForm.classList.remove("active-form");
            loginForm.classList.add("active-form");
            formTitle.textContent = "Login to CarpoolGo";
            toggleLink.textContent = "Don't have an account? Sign up";
        }
    });
    </script>
</body>
</html>